html, body {
    font-family: sans-serif;
    font-size: 5vmin;
    background: #32485D;
    margin: 0;
    padding: 0;
    color: #222;
}

div {
    margin: 0;
    border: 0;
    padding: 0;
}

#content {
    padding: 1em 0;
}

/* Each slide */
#content div {
    margin: 0 0 0.5em 0;
    border: solid #0A5 0.1em;
    border-radius: 0.5em;
    padding: 0.5em;
    background: #eee;
}

hr {
    border: solid black 1px;
    border-width: 1px 0 0 0
}

h1, h2, h3, h4, h5, h6 {
    color: #0A5;
    text-shadow: 0 0 2px #000;
}

p {
    margin: 0 0 0 0;
    line-height: 1.4;}

code {
    color: #FF0051;
    padding: 0 0.3em 0 0.3em;
}

.title h1, .bigtitle h1 {
    text-align: center;
}

/* Chords */
.verse em {
    background: #555;
    font-style: italic;
    color: #FFFAB2;
    padding: 0 0.1em 0.1em 0.1em;
    border-radius: 0.2em;
    text-shadow: 0 0 2px #000;
}

.verse code {
    font-family: sans-serif;
    background: #00751C;
    font-weight: 900;
    color: #FFF34A;
    padding: 0em 0.2em 0.1em 0.2em;
    border-radius: 0.2em;
    text-shadow: 0 0 2px #000;
}

/* Error slides */
.error * {
color: #a00;
}
