@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  src: local('Alegreya'),
    url('fonts/Alegreya-Regular.ttf');
}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 500;
  src: local('Alegreya'),
    url('fonts/Alegreya-Italic.ttf');
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Bold'),
    url('fonts/Alegreya-Bold.ttf');
}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya Bold'),
    url('fonts/Alegreya-BoldItalic.ttf');
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya Black'),
    url('fonts/Alegreya-Black.ttf');
}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 900;
  src: local('Alegreya Black'),
    url('fonts/Alegreya-BlackItalic.ttf');
}

@font-face {
  font-family: 'Liberation Mono';
  font-style: normal;
  font-weight: 500;
  src: local('Liberation Mono'),
    url('fonts/LiberationMono-Regular.ttf');
}

html {
margin: 0;
border: 0;
padding: 0;
font-family: "Alegreya";
color: #261E17;
text-shadow: 0 0 4px rgba(0,0,0,0.4),
    0.3em 0.3em 0.6em rgba(0,0,0,0.4);
}

body {
margin: 0;
border: 0;
padding: 0;
font-size: 6vmin;
overflow:hidden;
}

#background {
position:fixed;
background-image: url('parchment.jpg');
background-size: cover;
background-position: 50% 50%;
top:0;
bottom:0;
right:0;
left:0;
}

#content {
box-sizing: border-box;
height: 100vh;
width: 100vw;
padding: 0 8vmin;
font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
padding: 1ex 0;
font-weight: 700;
}

h1 {
font-size: 180%;
}

h2 {
font-size: 155%;
}

h3 {
font-size: 140%;
}

h4 {
font-size: 140%;
font-style: italic;
}

h5 {
font-size: 120%;
}

h6 {
font-size: 120%;
font-style: italic;
}

p {
margin: 0 0 0.6em 0;
}

em {
font-style: italic;
}

strong {
font-weight: 900;
}

code {
font-family: "Liberation Mono";
font-size: 95%;
padding: 0 0.3em 0 0.3em;
}

a {
color: #00f;
}

hr {
border: 0;
height: 2px;
background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.9), rgba(0,0,0,0.9), rgba(0,0,0,0));
}

/* Get bullets and numbers working right with shadows */
ul {
list-style: none;
padding-left: 1.1em;
}

li {
position: relative;
}

ul > li:before {
position:absolute;
left: -1.1em;
content: "‣";
color: #377B29;
}

ul ul > li:before {
content: "•";
}

ul ul ul > li:before {
content: "▫";
}

/* Error slides */
.error * {
color: red;
}

/* "image" class - shows an image */
#background.image {
background: black;
}

#container.image {
background: black;
}

.image img {
position: fixed;
width: 100vw;
height: 100vh;
top: 0;
bottom: 0;
left: 0;
right: 0;
object-fit: contain;
background: black;
}

/* "title" class */
/* Vertically centre the title */
#container.title #content {
display: table-cell;
vertical-align: middle;
}

#container.title {
font-size: 80%;
}

#container.title h1 {
text-align: center;
}

/* "bigtitle" class */
/* Vertically centre the title */
#container.bigtitle #content {
display: table-cell;
vertical-align: middle;
}

#container.bigtitle {
font-size: 120%;
}

#container.bigtitle h1 {
text-align: center;
}

/* "verse" class */
#container.verse p {
margin: 0.2em 0;
/* Hanging indent */
padding-left: 2em;
text-indent: -2em;
}

/* No hanging indent inside lists */
#container.verse li p {
padding: 0;
text-indent: 0;
}


/* Leave a bit of space at the top if there's no heading. */
#content > p:first-child {
margin-top: 12vmin;
}

#content > ul:first-child {
margin-top: 12vmin;
}

#content > ol:first-child {
margin-top: 12vmin;
}

/* Content is vertically centred, so undo the space added for default slides */
#container.title #content > p:first-child {
margin-top: 0;
}

#container.title #content > ul:first-child {
margin-top: 0;
}

#container.title #content > ol:first-child {
margin-top: 0;
}
