@font-face {
  font-family: 'Liberation Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Liberation Sans'),
    url('fonts/LiberationSans-Regular.ttf');
}

@font-face {
  font-family: 'Liberation Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Liberation Sans Bold'),
    url('fonts/LiberationSans-Bold.ttf');
}

@font-face {
  font-family: 'Liberation Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Liberation Sans'),
    url('fonts/LiberationSans-Italic.ttf');
}

@font-face {
  font-family: 'Liberation Sans';
  font-style: italic;
  font-weight: 900;
  src: local('Liberation Sans Bold'),
    url('fonts/LiberationSans-BoldItalic.ttf');
}

@font-face {
  font-family: 'LiberationMono';
  font-style: normal;
  font-weight: 500;
  src: local('Liberation Mono'),
    url('fonts/LiberationMono-Regular.ttf');
}

html {
margin: 0;
border: 0;
padding: 0;
font-family: "Liberation Sans";
color: white;
text-shadow: 0 0 2px #000,
    0.2em 0.2em 0.3em rgba(0,0,0,0.8);
}

body {
margin: 0;
border: 0;
padding: 0;
font-size: 7vmin;
overflow:hidden;
}

#background {
background: #222;
position:absolute;
top:0;
bottom:0;
right:0;
left:0;
}

#container {
}

#content {
height: 100vh;
padding: 0 1vmin;
font-weight: 500;
}

h1, h2 {
color: #eee;
background: #00751C;
margin: 0 -8vmin 1ex -8vmin; /* Allow background to go to edge of screen */
padding: 0.3em 8vmin 0.3em 8vmin;
font-weight: 900;
text-shadow: 0.08em 0.08em 0.2em rgba(0,0,0,0.5);
}

h1 {
font-size: 160%;
}

h2 {
font-size: 140%;
}

h3, h4, h5, h6 {
color: #FFE500;
margin: 0;
padding: 0.3em;
}

h3 {
font-size: 130%;
}

h4 {
font-size: 130%;
font-style: italic;
}

h5 {
font-size: 110%;
}

h6 {
font-size: 110%;
font-style: italic;
}

p {
line-height: 1.5;
margin: 0 -8vmin 0 -8vmin; /* Allow background to go to edge of screen */
padding: 0 8vmin 0 8vmin;
}

p:nth-of-type(2n) {
background: rgba(255,255,255, 0.1);
}

code {
font-family: "Liberation Mono";
font-size: 98%;
color: #FF0051;
padding: 0 0.3em 0 0.3em;
}

a {
color: #FFFF00;
}

hr {
border: 0;
height: 2px;
background-image: linear-gradient(to right, #E0A437, #FFFF00, #E0A437);
}

/* Get bullets and numbers working right with shadows */
ol {
padding-left: 1.1em;
}

ul {
list-style: none;
padding-left: 1.1em;
}

li {
position: relative;
}

ul > li:before {
position:absolute;
left: -1.1em;
content: "‣";
color: #377B29;
}

ul ul > li:before {
content: "•";
}

ul ul ul > li:before {
content: "▫";
}

/* "title" class */
/* Vertically centre the title */
#container.title {
display: table;
width: 99.9vw; /* 100vw creates a scrollbar */
}

#container.title #content {
display: table-cell;
vertical-align: middle;
}

#container.title {
font-size: 80%;
}

#container.title h1 {
text-align: center;
}

/* "bigtitle" class */
/* Vertically centre the title */
#container.bigtitle {
display: table;
width: 99.9vw; /* 100vw creates a scrollbar */
}

#container.bigtitle #content {
display: table-cell;
vertical-align: middle;
}

#container.bigtitle {
font-size: 120%;
}

#container.bigtitle h1 {
text-align: center;
}

/* "verse" class */
#container.verse {
margin-top: 1.2ex;
}
#container.verse p {
/* Hanging indent */
padding-left: 2em;
padding-right: 1em;
text-indent: -2em;
/*margin-bottom: -0.5ex;*/
}
.verse em {
background: rgba(255,255,255,0.4);
font-style: italic;
color: #FFFAB2;
padding: 0 0.1em;
}
.verse code {
display: inline-block; /* reduce width to zero */
font-family: sans-serif;
font-weight: 900;
color: #FFF34A;
position: relative; /* move text up */
top: -1.2ex; /* move text up */
padding: 0; /* Reset */
padding-bottom: 1ex; /* make box go most of the way to baseline */
padding-left: 0.1ex;
line-height: 0.5; /* Make border not as high as text top */
width: 0; /* reduce width to zero */
white-space: pre; /* Do not produce a new block when a space char occurs */
text-indent: 0; /* cancel earlier indent */
margin: 0;
border-left: solid #1096E0 0.2ex;
text-shadow:  0 0 0.1ex black,
            0.1ex 0.1ex 0.1ex black,
            -0.1ex 0.1ex 0.1ex black,
            -0.1ex -0.1ex 0.1ex black,
            0.1ex -0.1ex 0.1ex black;
}

/* No hanging indent inside lists */
#container.verse li p {
padding: 0;
text-indent: 0;
}

/* Clock styling */
#clock_container {
position: absolute;
display: flex;
flex-direction: column;
align-items: flex-end;
bottom: 0;
right: 0;
font-family: monospace;
font-size: 10vw;
opacity: 60%;
}

.plenty_of_time {
background-color: #006100 !important;
}

.nearly_time {
background-color: #C35000 !important;
}

.over_time {
background-color: #730000 !important;
}
